<div ng-if="vm.showForgotPasswordForm">

    <form ng-submit="vm.onEmailSubmit()">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
                <h6>Forgot password</h6>
                <h6 ng-if="vm.resetPasswordError" class="error-message">Sorry! we could not find {{vm.forgotPasswordForm.email}} registered on our system. Please try again</h6>
                <h6 ng-if="vm.emailSent">An email has been sent to {{vm.forgotPasswordForm.email}} please check your e-mail.</h6>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" ng-model="vm.forgotPasswordForm.email" type="email" id="forgotPasswordEmail" required>
                    <label class="mdl-textfield__label" for="forgotPasswordEmail">Email</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--primary" type="submit">
                    Submit!
                </button>
                <a class="mdl-button mdl-js-button mdl-button--accent" href="/">
                    Back
                </a>
            </div>
        </div>
    </form>
</div>
<div ng-if="!vm.showForgotPasswordForm">

    <form ng-submit="vm.onNewPasswordSubmit()">

        <h6 ng-if="vm.resetPasswordError" class="error-message">oops! sorry there has been an error resetting the password.</h6>
        <h6 ng-if="vm.passwordNotMatch" class="error-message">The passwords do not match please try again</h6>
        <h6 ng-if="vm.passwordResetSuccess" class="success-message">The password has been reset successfully you can now login with your new password.
            <a href="/#!/">Login</a>
        </h6>
        <h6>Reset Password</h6>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" ng-model="vm.resetPassword.password" type="password" id="forgotPasswordPassword" required>
                    <label class="mdl-textfield__label" for="forgotPasswordPassword">New Password</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" ng-model="vm.resetPassword.confirmPassword" type="password" id="forgotPasswordConfirmPassword"
                        required>
                    <label class="mdl-textfield__label" for="forgotPasswordConfirmPassword">Confirm Password</label>
                    <span class="mdl-textfield__error">{{vm.resetPasswordError}}</span>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <button class="mdl-button mdl-js-button mdl-button--primary" type="submit">
                    Submit Password
                </button>
            </div>
        </div>

    </form>

</div>