<div ng-if="vm.showForgotPasswordForm">
    <form ng-submit="vm.onEmailSubmit()">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" ng-model="vm.forgotPasswordForm.email" type="email" id="forgotPasswordEmail" required>
            <label class="mdl-textfield__label" for="forgotPasswordEmail">Email</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--primary" type="submit">
            Submit!
        </button>
        <a class="mdl-button mdl-js-button mdl-button--accent" href="/">
            Back
        </a>
    </form>
</div>
<div ng-if="!vm.showForgotPasswordForm">
    <form ng-submit="vm.onNewPasswordSubmit()">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" ng-model="vm.resetPassword.password" type="password" id="forgotPasswordPassword" required>
            <label class="mdl-textfield__label" for="forgotPasswordPassword">New Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" ng-model="vm.resetPassword.confirmPassword" type="password" id="forgotPasswordConfirmPassword"
                required>
            <label class="mdl-textfield__label" for="forgotPasswordConfirmPassword">Confirm Password</label>
            <span class="mdl-textfield__error">{{vm.resetPasswordError}}</span>

        </div>
        <button class="mdl-button mdl-js-button mdl-button--primary" type="submit">
            Submit New Password
        </button>
    </form>
</div>